{{> head}}
<body>
{{> nav}}

<!-- Toast notification -->
<div id="toast" class="toast-notification"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8 main-content">
            <article>
                <h3>{{post.title}}</h3>
                <span class="glyphicon glyphicon-user"></span> {{post.author}}
                &nbsp;&nbsp;
                <span class="glyphicon glyphicon-time"></span> {{post.dated}}
                <hr>

                <p class="post-content">{{{post.body}}}</p>
                <br/><br/>

                <div class="post-info">
                    {{#post.category}}
                        <span class="glyphicon glyphicon-folder-open"></span> &nbsp;
                        <a href="{{settings.url}}/category/{{post.categoryslug}}">{{post.category}}</a>
                        &nbsp;&nbsp;
                    {{/post.category}}

                    <span class="glyphicon glyphicon-bookmark"></span>

                    {{#post.tags}}
                        <a href="{{settings.url}}/tag/{{.}}">{{.}}</a>&nbsp;&nbsp;
                    {{/post.tags}}
                </div>

            </article>
            <hr/>

            <div class="text-center clearfix">
                <div class="col-sm-4 col-md-4">
                    <a class="prevpost btn btn-primary"><i class="fa fa-chevron-circle-left"></i> Post Anterior</a>
                </div>
                <div class="col-sm-4 col-md-4">
                    <a class="btn btn-primary" href="{{settings.url}}/"><i class="fa fa-navicon"></i> Ver Todos
                        os Posts</a>
                </div>
                <div class="col-sm-4 col-md-4">
                    <a class="nextpost btn btn-primary">Proximo Post <i class="fa fa-chevron-circle-right"></i></a>
                </div>
            </div>

            <hr/>
            
        </div>

        {{> sidebar}}

    </div>
</div>

{{> footer}}

<!-- for pagination -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            var $prevPostSelector = $('.prevpost');
            var $nextPostSelector = $('.nextpost');

            var pageArray = document.location.href.split('/');
            var currentPageSlug = pageArray[pageArray.length - 1];

            if (!currentPageSlug) {
                currentPageSlug = pageArray[pageArray.length - 2];
            }

            $.ajax({
                url: __blogURL + "/data/blog.json",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    if (data.posts !== undefined && data.posts !== null) {
                        $.each(data.posts, function (i, post) {
                            if (post.slug === currentPageSlug || post.slug + '/' === currentPageSlug) {

                                var prevPost = data.posts[i - 1];
                                var nextPost = data.posts[i + 1];

                                if (prevPost === undefined || prevPost === null) {
                                    $prevPostSelector.hide();
                                    showToast('Você está no primeiro post');
                                }
                                else {
                                    $prevPostSelector.attr('href', __blogURL + '/post/' + prevPost.slug);
                                }

                                if (nextPost === undefined || nextPost === null) {
                                    $nextPostSelector.hide();
                                    showToast('Você está no último post');
                                }
                                else {
                                    $nextPostSelector.attr('href', __blogURL + '/post/' + nextPost.slug);
                                }

                                return false;
                            }
                        });
                    }
                },
                error: function (e) {
                    $prevPostSelector.hide();
                    $nextPostSelector.hide();
                }
            });
        }, 100);

        function showToast(message) {
            var toast = document.getElementById("toast");
            toast.textContent = message;
            toast.className = "toast-notification show";
            setTimeout(function(){ toast.className = toast.className.replace("show", ""); }, 5000);
        }
    });
</script>
